<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.hamsters">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity android:name=".gui.activity.SplashActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.activity.HamsterListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".gui.activity.HamsterDetailsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing|adjustPan" />
        <activity android:name=".gui.activity.PhotoActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing|adjustPan" />
    </application>
</manifest>
